{% extends "share/layout.html" %}

{% block title %}Ecart{% endblock title %}

{% block content %}
<header class="text-secondary bg-primary bg-gradient w-100 shadow-sm"><!-- -->
    <h1 class="h1 text-light py-2 ms-3 m-0">Ecart</h1>
</header>
<div class="container-fluid vh-100 d-flex flex-column">
    {% if isError %}
        <div class="alert alert-danger my-3" role="alert">{{errorMessage}}</div>
    {% endif %}
    <main class="bg-body-tertiary px-1 py-2 mt-3 flex-fill">
        <div class="card shadow">
            <div class="card-header">
                <h2 class="my-1">忘 記 密 碼</h2>
            </div>
            <div class="card-body">
                <form action="/forgetpassword/?store={{storeCode}}&device={{deviceCode}}" method="post">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <div class="col-4 d-flex align-items-center justify-content-end">
                            <lablel class="form-label fw-bold fs-5" for="userAccount" style="margin: 0px;">
                                帳號:
                            </lablel>
                        </div>
                        <div class="col-8">
                            <input id="userAccount" name="userAccount" class="form-control" type="text" value="" placeholder="請輸入手機號碼">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-4 d-flex align-items-center justify-content-end">
                            <lablel class="form-label fw-bold fs-5" for="newUserPassword" style="margin: 0px;">
                                新密碼:
                            </lablel>
                        </div>
                        <div class="col-8">
                            <input id="newUserPassword" name="newUserPassword" class="form-control" type="password" placeholder="請輸入新密碼">
                        </div>      
                    </div>
                    <div class="row mb-3">
                        <div class="col-4 d-flex align-items-center justify-content-end">
                            <lablel class="form-label fw-bold fs-5" for="userCheckNewPassword" style="margin: 0px;">
                                確認<br/>密碼:
                            </lablel>
                        </div>
                        <div class="col-8">
                            <input id="userCheckNewPassword" name="userCheckNewPassword" class="form-control" type="password" placeholder="請再次輸入新密碼">
                        </div>      
                    </div>
                    <hr class="m-3 my-3">
                    <div class="row">
                        <div class="col-12 text-end">
                            <a class="btn btn-secondary me-2 w-25" href="/login/?store={{storeCode}}&device={{deviceCode}}">取消</a>
                            <input class="btn btn-success me-2 w-25" type="submit" value="更新">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer class="vw-100 mt-auto">
        <p class="text-center m-0 py-2 fs-6">&copy;2025 power by xanxus</p>
    </footer>
</div>
{% endblock content %}

{% block script %}
<script>
    setInterval(()=>{
        console.log("run");
        $('[role=alert]').addClass("d-none");
    }, 5*1000);
</script>
{% endblock script %}

{% block style %}
<style>

</style>
{% endblock style %}





